<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form class="form-signin" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="text-center">Edit Profile</h2>
          <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
          <input type="email" name="email" class="form-control" placeholder="email" required="" autofocus="">
          <input type="text" name="gender" class="form-control" placeholder="gender" required="">
          <input type="text" name="skinType" class="form-control" placeholder="skinType" required="">
{#          <div class="checkbox">#}
{#              <label>#}
{#                  <input type="checkbox" value="remember-me"> Remember me#}
{#              </label>#}
{#          </div>#}
          <button name='profile_edit' class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>

 </form>
</body>
</html>