{% extends 'base.html' %}
<style>
    {% block style %}
        .bar{
            fill: steelblue;
        }

        .bar:hover{
            fill: brown;
        }

        .axis {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    {% endblock %}
</style>

{% block main %}
    <div class="col-xs-8" style="padding: 5px;">
        <svg width="800" height="430" id="chart" ></svg>
    </div>

    <div class="col-xs-4">
         <div class="btn-group" role="group" aria-label="...">
         <a type="button" class="btn btn-default" href="{% url "myhome:historyofTvalue" %}">Day</a>
         <a type="button" class="btn btn-default" href="{% url "myhome:week_Tvalue" %}">Week</a>
    </div>

         <img src="/static/image/advice.png" height="150" width="200">
         <textarea cols="50" rows="10" wrap="hard" readonly="yes">{{ Notification }} </textarea>
    </div>

{% endblock %}
<script>
    {% block script %}

        var endpoint = "../../api/Data/history/";

        $.ajax({
            method: "GET",
            url: endpoint,

            success: function (data) {

                // var margin = {top: 20, right: 20, bottom: 70, left: 40},
                //     width = 600 - margin.left - margin.right,
                //     height = 300 - margin.top - margin.bottom;
                var margin = {top: 30, right: 20, bottom: 50, left: 100},
                    width = parseInt(d3.select("#chart").style("width")) - margin.left - margin.right,
                    height = parseInt(d3.select("#chart").style("height")) - margin.top - margin.bottom;


// set the ranges
                var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

                var y = d3.scale.linear().range([height, 0]);

// define the axis
                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")


                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")
                    .ticks(10);


// add the SVG element
                var svg = d3.select("#chart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");


// load the data
                d3.json(endpoint, function(error, data) {

                function draw_graph(){
                    data.forEach(function(d) {
                        d.id = d.id;
                        d.Tvalue = +d.Tvalue;
                    });

                    // scale the range of the data
                    x.domain(data.map(function(d) { return d.id; }));
                    y.domain([0, d3.max(data, function(d) { return d.Tvalue; })]);

                    // add axis
                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .selectAll("text")
                        .style("text-anchor", "end")
                        .attr("dx", "-.8em")
                        .attr("dy", "-.55em")
                        .attr("transform", "rotate(-90)" );

                     svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("font-weight", "bold")
                        .attr("fill", "#000")
                        .attr("transform", "rotate(-90)")
                        .attr("y", -50)
                        .attr("dy", ".71em")
                        .style("font-size","15px")
                        .style("text-anchor", "end")
                        .text("Average value/hour");


                  svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("font-weight", "bold")
                        .attr("fill", "#000")
                        .attr("transform", "rotate(-0)")
                        .attr("y", -30)
                        .attr("x", 390)
                        .attr("dy", ".71em")
                        .style("font-size","15px")
                        .style("text-anchor", "end")
                        .text("Temperature Value (Past 24 hours)");

                    svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("font-weight", "bold")
                        .attr("fill", "#000")
                        .attr("transform", "rotate(-0)")
                        .attr("y", 380)
                        .attr("x", 50)
                        .attr("dy", ".71em")
                        .style("font-size","15px")
                        .style("text-anchor", "end")
                        .text("Past 24 Hours");


                    // Add bar chart
                    svg.selectAll("bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.id); })
                        .attr("width", x.rangeBand())
                        .attr("y", function(d) { return y(d.Tvalue); })
                        .attr("height", function(d) { return height - y(d.Tvalue); });
                     };

                     draw_graph.call(svg, {
                    data:data
                  });

                });


            }});
    {% endblock %}
</script>


