<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form action="{% url 'myhome:connection' %}" method="post"> 
            {% csrf_token %}
            <button class="btn btn-primary btn-lg type="submit" name="submit" value='connection'>Detect Environment</button> 
    </form> 
            <h1>{{ data.Uvalue }}</h1> 
            <h1>{{ data.Hvalue }}</h1> 
            <h1>{{ data.Tvalue }}</h1> 


    <form action="{% url 'myhome:readlong' %}" method="post"> 
        {% csrf_token %} {#    <input id="submit" type="button" value="Click" />#} 
        <h1>{{ Loding }}</h1> 
        <button class="btn btn-primary btn-lg type="submit" name="submit" value='connection'>Continuously monitor</button> 
    </form> 


</body>
</html>