{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="page-header">

        </div>
        <h2>{{ Notification }}</h2>
        {% if all_data %}
        <ul>
            {% for data in all_data %}



                <h2>{{ data.Uvalue }}</h2>
                <h2>{{ data.Hvalue }}</h2>
                <h2>{{ data.Tvalue }}</h2>
                <h2>{{ data.time }}</h2><br>

            {% endfor %}
        </ul>
        {% else %}
        <h3>You do not have any data</h3>
        {% endif %}
    </div>
    <a class="btn btn-primary btn-lg" href="data" role="button" >Get Current Data</a>




{% endblock %}