{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="page-header">

        </div>

        {% if all_data %}
        <ul>
            {% for data in all_data %}

                <a class="btn btn-primary btn-lg" href="#" role="button" >Get Current Data</a>

                <h2>{{ data.Uvalue }}</h2>
                <h2>{{ data.Hvalue }}</h2>
                <h2>{{ data.Tvalue }}</h2>
                <h2>{{ data.time }}</h2><br>

            {% endfor %}
        </ul>
        {% else %}
        <h3>You do not have any data</h3>
        {% endif %}
    </div>




{% endblock %}