{% extends 'base.html' %}
{% block main %}
    <br/>
    <br/>
        <br/>
    <br/>
    <div class="container">
	<div class="row clearfix">
     <div class="col-xs-4" style="padding: 5px;">
     <img src="/static/image/sun.jpg" height="60" width="80">
      <font size="5" face="verdana" color="black"><strong>UV:</strong></font>
         <font size="5" face="verdana" color="black">value</font><br/>
          <img src="/static/image/wet.jpg" height="60" width="80">
      <font size="5" face="verdana" color="black"><strong>Humidity:</strong></font>
         <font size="5" face="verdana" color="black">value</font><br/>
          <img src="/static/image/temperature.jpg" height="60" width="80">
      <font size="5" face="verdana" color="black"><strong>Temperature:</strong></font>
         <font size="5" face="verdana" color="black">value</font><br/>
    </div>

    <div class="col-xs-8">
        <img src="/static/image/advice.png" height="150" width="200">
<textarea cols="80" rows="10" wrap="hard" readonly="yes">You can put advice </textarea>

        </div>
    </div>

{% endblock %}